<!DOCTYPE html>
<html>
  <head>
    <title>DxD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<link href="//db.onlinewebfonts.com/c/95802a92109828b83b1042830d859927?family=Whitney" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/878812403fc38d24102f0458bf6e4744?family=Lucida+Grande" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue" rel="stylesheet" type="text/css"/>
<%# <link href="//db.onlinewebfonts.com/c/6897a1fa2639214696fc1d3809948c48?family=Whitney" rel="stylesheet" type="text/css"/> %>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
      
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
